@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "poppins";
    src: url("/src/assets/poppins.ttf");
}

body {
    margin: 0;
    font-family: "poppins", sans-serif;
    background-color: #22272e;
    color: white;
}

.shadow-3xl {
        box-shadow: 0 0 10px 10px rgb(0 0 0 / 0.15);
    }

@layer components {
    .fc {
        @apply flex items-center justify-center
    }
    .form-input {
        @apply rounded-md p-[10px] my-[5px] bg-bgdark border-solid border-2 border-bgdark focus:border-solid focus:border-2 focus:border-main focus:outline-none
    }
    .button {
        @apply bg-main w-full rounded-lg p-[10px] my-[5px] hover:bg-maindark
    }

    .page-parent {
        @apply min-h-[calc(100vh-110px)] p-[20px]
    }

    .page-full {
        @apply h-[100vh]
    }

    .action-button {
        @apply bg-bg rounded-lg h-full w-[60px] fc mr-[10px]
    }

    .gradient {
        @apply bg-[#d8b5ff] bg-gradient-to-br from-[#d8b5ff] to-[#1eae98]
    }

    .darkgradient {
        @apply bg-[#a390c6] bg-gradient-to-br from-[#a390c6] to-[#197b6d]
    }

    .gradienttext {
        @apply bg-gradient-to-r from-[#d8b5ff] to-[#1eae98] text-transparent bg-clip-text
    }

    .border-w {
        @apply border border-solid border-white/5
    }

    input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button,
        input[type='number'] {
            -webkit-appearance: none;
            margin: 0;
            -moz-appearance: textfield !important;
        }
}